.banner{
    background-image: url("../../assets/restaurantSearch/banner.png");
    width: 100vw; 
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}