.details_section{
    padding-block: 2%;
    padding-inline: 5%;
}

.banner{
    background-image: url("../../assets/images/restaurantDetailsBanner.jpg");
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}
